body {

    margin: 0;

}

body * {

    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #f0ffff;

}

header {

    position: fixed;
    background-color:#203636;
    height: 5vw;
    width: 100%;
    padding: 1vw;
    display: flex;
    align-items: center;
    box-shadow: 0.1vw 0.1vw 1vw rgba(0, 0, 0, 0.5);

}

header h1 {

    font-size: 2vw;

}

main {

    padding: 3vw;
    padding-top: 6vw;
    background-color:#375353;

}

main h1 {

    text-align: center;
    font-size: 3.5vw;
    padding: 2vw;

}

section {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 1vw;
    margin: 3vw;
    padding: 1vw;
    background-color: #0e1414;
    box-shadow: 0.5vw 0.5vw 1vw rgba(0, 0, 0, 0.5);

}

section article {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 45%;
    padding: 2vw;
    margin: 2vw;
    background-color: #192525;
    border-radius: 1vw;
    box-shadow: 0.5vw 0.5vw 1vw rgba(0, 0, 0, 0.5);

}

section article h2 {

    width: 100%;
    text-align: center;
    font-size: 1.5vw;

}

section article img {

    padding: 1vw;
    width: 35vw;

}

section article p {

    font-size: 1vw;
    text-align: justify;

}

form {

    display: flex;
    flex-wrap: wrap;
    background-color: #375353;
    border-radius: 1vw;
    padding: 2vw;
    margin: 2vw;
    width: 60%;
    box-shadow: 0.5vw 0.5vw 1vw rgba(0, 0, 0, 0.5);

}

label {

    font-size: 1.1vw;
    width: 100%;
    padding: 0.5vw;
    padding-left: 0;

}

input, textarea {

    color: black;
    font-size: 0.9vw;
    width: 100%;
    padding: 0.2vw;
    padding-left: 0;
    margin: 0.1vw;
    margin-left: 0;
    resize: none;

}

input[type="submit"], input[type="reset"] {

    margin: 1vw 1vw 0vw 1vw;

}

footer {

    background-color:#203636;
    height: 5vw;
    width: 100%;
    padding: 1vw;
    display: flex;
    align-items: center;
    box-shadow: 0.1vw 0.1vw 1vw rgba(0, 0, 0, 0.5);

}

footer h3 {
    
    width: 100%;
    text-align: center;

}
